@import url('https://fonts.googleapis.com/css2?family=Lato:wght@500&display=swap');

* {
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
    background-color: #242333;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.movie-names {
    padding: 5px 15px;
    margin-left: 10px;
    border-radius: 5px;
    color: #242333;
}

.showcase{
    background-color: rgba(0, 0, 0, 0.2) ;
    color: #777;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    border-radius: 5px;
}

.showcase li small{
    margin-left: 2px;
}

.showcase li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}

.seat {
    background-color: #444451;
    height: 12px;
    width: 15px;
    margin: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    
}

.showcase.seat{
    display: flex;
}

.seat.occupied{
    background-color: #fff;
}

.seat.selected{
    background-color:sandybrown;
}

.row{
    display: flex;
    justify-content: center;
}

.seat:nth-of-type(2){
    margin-right: 15px;
}

.seat:nth-last-of-type(2){
    margin-left: 15px;
}

.seat:not(.occupied):hover{
    cursor: pointer;
    transform: scale(1.2);
}

.screen{
    background-color: #fff;
    height: 70px;
    width: 250px;
    margin: 15px 10px 15px;
    transform: rotateX(-45deg);
    box-shadow: 0 3px 10px rgba(255,255,255,0.7);
}

.row-seat-container{
    perspective: 1000px;
    margin-bottom: 30px;
}

span {
    color: sandybrown;
}